{% if campo.field.widget.input_type == 'checkbox' %}
<div class="form-check">
    {{ campo }}
    {{ campo.label_tag }}

    {% if campo.help_text %}
    <div class="form-text">
        {{ campo.help_text }}
    </div>
    {% endif %}

    {% for erro in campo.errors %}
    <div class="text-danger small">
        {{ erro }}
    </div>
    {% endfor %}
</div>
{% else %}
<div>
    {{ campo.label_tag }}
    {{ campo }}

    {% if campo.help_text %}
    <div class="form-text">
        {{ campo.help_text }}
    </div>
    {% endif %}

    {% for erro in campo.errors %}
    <div class="text-danger small">
        {{ erro }}
    </div>
    {% endfor %}
</div>
{% endif %}
