{% extends 'base.html' %}

{% block content %}

<div class="container-fluid py-4">

    <div class="card shadow-sm border-0">

        <div class="card-header bg-white">
            <strong>
                <i class="bi bi-building me-2"></i>
                {{ titulo }}
            </strong>
            <div class="text-muted small">
                Cadastro administrativo da empresa cliente.
            </div>
        </div>

        <div class="card-body">

            <form method="post" novalidate>
                {% csrf_token %}

                <div class="row g-3">

                    <div class="col-md-8">
                        {{ form.nome.label_tag }}
                        {{ form.nome }}
                        {{ form.nome.errors }}
                    </div>

                    <div class="col-md-4">
                        {{ form.cnpj.label_tag }}
                        {{ form.cnpj }}
                        {{ form.cnpj.errors }}
                    </div>

                    <div class="col-md-4">
                        {{ form.status.label_tag }}
                        {{ form.status }}
                        {{ form.status.errors }}
                    </div>


                </div>

                <div class="d-flex justify-content-between mt-4">

                    <a href="{% url 'plataforma:lista_matrizes' %}" class="btn btn-outline-secondary">
                        Voltar
                    </a>

                    <button type="submit" class="btn btn-dark">
                        Salvar Matriz
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}